<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.𐰜𐰇𐰚𐱅𐰇𐰼𐰜𐰲𐰀</string>
	<key>CFBundleName</key>
	<string>old_turkic</string>
	<key>CFBundleVersion</key>
	<string>1.1</string>
	<key>KLInfo_𐰜𐰇𐰚 𐱅𐰇𐰼𐰜𐰲𐰀</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.𐰜𐰇𐰚𐱅𐰇𐰼𐰜𐰲𐰀.𐰜𐰇𐰚𐱅𐰇𐰼𐰜𐰲𐰀</string>
		<key>TISIntendedLanguage</key>
		<string>otk-Orkh-143</string>
	</dict>
</dict>
</plist>
